/* Overall styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: auto;
  min-height: 100vh;
  background-color: #f0f2f5;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header h1 {
  font-size: 1.5rem;
  margin: 0;
}

.header p {
  margin: 0;
  font-weight: bold;
}

/* Navigation */
.navigation {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 1rem 2rem;
  background-color: #f8f9fa;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navigation a {
  text-decoration: none;
  color: #333;
  margin-bottom: 1rem;
  font-weight: bold;
}

.navigation a:hover {
  color: #007bff;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 2rem;
}

.main-content h2 {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.main-content .card {
  background-color: #fff;
  
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.main-content .card h3 {
  margin-bottom: 0.5rem;
}

.main-content .card p {
  margin-bottom: 0;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f0f2f5;
  font-weight: bold;
}

/* Button */
.button {
  display: inline-block;
  background-color: #0255FB;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: none; /* Removed border for cleaner look */
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer; /* Indicate clickable button */
}

.buttonlogout {
  display: inline-block;
  background-color: #e40000;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: none; /* Removed border for cleaner look */
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer; /* Indicate clickable button */
}


.button:hover {
  background-color: #0255FB;
}

/* Table container */
.table-container {
  display: flex;
  justify-content: center; /* Mengatur konten di tengah horizontal */
  align-items: center; /* Mengatur konten di tengah vertikal */
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  display: auto;
  overflow: hidden;
  overflow-x: auto; 
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  text-align: left;
  
}

th {
  background-color: #f0f2f5;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f0f0f0;
}


.form-container {
  background-color: #fff; /* White background */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Inner padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  display: auto; /* Use flexbox for layout */
  flex-direction: column; /* Stack elements vertically */
}

.form-group {
  margin-bottom: 15px; /* Spacing between form groups */
  display: flex; /* Use flexbox for layout within groups */
  flex-direction: row; /* Align labels and inputs horizontally */
  align-items: center; /* Vertically center labels and inputs */
}

.form-label {
  flex: 0 0 30%; /* Set label width to 30% */
  font-weight: bold;
  margin-bottom: 1rem;
  margin-right: 10px; /* Spacing between label and input */
}

.form-input {
  flex: 1; /* Allow input to fill remaining space */
  padding: 8px; /* Padding for input field */
  border: 1px solid #ccc; /* Border for input */
  border-radius: 4px; /* Rounded corners for input */
  font-size: 16px; /* Font size for input */
  padding: 0.75rem 1rem
}

.form-input:focus {
  border-color: #0255FB; /* Blue border on focus */
}

.form-button {
  background-color: #0255FB; /* Blue button color */
  color: #fff; /* White button text */
  padding: 10px 20px; /* Button padding */
  border: none; /* Remove border for cleaner look */
  border-radius: 4px; /* Rounded corners for button */
  cursor: pointer; /* Indicate clickable button */
  margin-top: 10px; /* Spacing above button */
  text-align: center;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
  margin-left: 1rem
}

.form-button:hover {
  background-color: #0255FB; /* Darker blue on hover */
}

.form-container form {
  width: 100%;
 }
 

 .form-container button {
  width: 100%;
  padding: 10px;
  background-color:#0255FB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 }

 
 .stat-box-container {
  display: flex;
  flex-wrap: wrap;
}

.stat-box {
  flex: 1;
  background-color: #f1f1f1;
  padding: 10px;
  margin-right: 10px; 
  border-radius: 5px;
}

.stat-box:last-child {
  margin-right: 0; 
}

.stat-box h3 {
  margin-top: 0;
  font-size: 18px;
}

.stat-box p {
  margin-bottom: 0;
  font-size: 16px;
}




/* Sign in container */
.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Adjust width as needed */
}

/* Sign in text */
.login-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Input fields */
.login-container input[type="text"],
.login-container input[type="password"] {
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 3px;
}


/* Submit button */
.login-container button {
  background-color:#0255FB;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.login-container button:hover {
  background-color: #0255FB;
}

/* Links */
.login-container a {
  color:#0255FB;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.login-container a:hover {
  color: #0255FB;
}
