<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warehouse Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Warehouse Inventory</h1>
    <ul>
        {% for item in items %}
            <li>{{ item[1] }} - Quantity: {{ item[2] }}
                <a href="{{ url_for('update_item', id=item[0]) }}">Update</a>
                <a href="{{ url_for('delete_item', id=item[0]) }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_item') }}"class="button">Add New Item</a>
    <a href="{{ url_for('search') }}" class="button">Search</a>
    <a href="{{ url_for('home') }}" class="button">Back</a>

</body>
</html>
